{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        {% if  products %}
        <a href="/cart/clear" class="float-right">Очистить корзину</a>
        <table class="table table-bordered  cart mt-2">
            <tr>
                <th>%</th>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
            {% for product in products %}
                <th>{{ loop.index }}</th>
                <th>
                    <div class="d-flex"><img src="{{ product.image.path|default("/assets/design/images/no-photo.svg") }}" alt="">{{ product.name }}</div>
                </th>
                <th>{{ cart[product.id].count }}</th>
                <th>{{ cart[product.id].count*product.price }}</th>
            {% endfor %}
        </table>
        {% else %}
            Корзина пуста. <a href="/product">За покупками</a>
        {% endif %}
    </div>
{% endblock %}