{% extends 'base.html.twig' %}
{% block styles %}
    <link rel="stylesheet" href="/assets/design/css/product.min.css">
{% endblock %}
{% block body %}
    {% if product %}
        <section class="product" data-id="{{ product.id }}">

            <div class="product_top">
                <div class="product_top_left">
                    <ul class="path">
                        <li><a href="/folder">Категории</a></li>
                        {% for folder in product_path %}
                            <li><a href="/folder/{{ folder.id }}">{{ folder.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="product_name">
                        {{ product.name }}
                    </div>
                    {% if product.count %}
                        <div class="stock in">
                            В наличии
                        </div>
                    {% else %}
                        <div class="stock ">
                            Нет в наличии
                        </div>
                    {% endif %}
                </div>
                <div class="product_top_right">
                    <div class="vendor_code">
                        <span class="title">Арикул</span>
                        <span class="text">{{ product.article }}</span>
                    </div>
                </div>
            </div>
            <div class="product_middle">
                <div class="product_middle_left">
                    <div class="product_image">
                        <div class="flags">
                            {% for flag in product.flags %}
                                <div class="flag{% if flag.id == 1 %} sale {% endif %}{% if flag.id == 2 %} new {% endif %}{% if flag.id == 3 %} hit {% endif %}">{{ flag.name }}</div>
                            {% endfor %}
                        </div>
                        {% if product.image %}
                            <img src="{{ product.image.path }}" alt="">
                        {% else %}
                            <img src="/assets/design/images/no-photo.svg" class="d-block m-auto" width="50%" alt="">
                        {% endif %}
                    </div>
                    <div class="product_comments">
                        {% if error %}
                            <div class="alert alert-danger">{{ error|nl2br }}</div>
                        {% endif %}
                        <div class="title">Отзывы <span class="count">{{ product.comments|length }}</span></div>
                        <ul class="comments">
                            {% for comment in product.comments %}
                                <li class="comment">
                                    <div class="comment_left">
                                        <div class="avatar">
                                            <img src="{% if comment.user.image.path %}{{ comment.user.image.path }}{% else %}/assets/design/images/no-photo.svg{% endif %}"
                                                 width="32"
                                                 height="32"
                                                 alt="">
                                        </div>
                                    </div>
                                    <div class="comment_right">
                                        <div class="comment_right_top">
                                            <span class="author">{{ comment.user.firstname }} {{ comment.user.lastname }}</span>
                                            <span class="rating">
                                            {% for val in 1..comment.rating %}
                                                <i class="star"></i>
                                            {% endfor %}
                                                {% if comment.rating < 5 %}
                                                    {% for val in comment.rating+1..5 %}
                                                        <i class="star empty"></i>
                                                    {% endfor %}
                                                {% endif %}

                                    </span>
                                        </div>
                                        <div class="comment_right_bot">
                                            <div class="text">{{ comment.value }}</div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if app.user %}
                            <div class="form">
                                <div class="title">
                                    Новый отзыв или комментарий
                                </div>
                                <form action="" class="comment_form" method="POST">
                                    <div class="comment_form_left">
                                        <div class="avatar">
                                            <img src="{% if app.user.image.path %}{{ app.user.image.path }}{% else %}/assets/design/images/no-photo.svg{% endif %}"
                                                 width="32"
                                                 height="32"
                                                 alt="">
                                        </div>
                                    </div>
                                    <div class="comment_form_right">
                                        <input type="hidden" value="{{ app.user.id }}" name="comment[user_id]">
                                        <input type="hidden" value="{{ product.id }}" name="comment[product_id]">
                                        <div class="form_control">
                                            <span class="author">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                                        </div>
                                        <div class="form_control">
                                            <label>
                                            <textarea name="comment[value]" placeholder="Текст комментария"
                                                      maxlength="250"></textarea>
                                            </label>
                                        </div>
                                        <div class="form_control">
                                            <label>
                                                Оцените товар:
                                            </label>
                                            <input type="hidden" name="comment[rating]" value="1">
                                            <span class="rating">
                                        <i class="star "></i>
                                        <i class="star empty"></i>
                                        <i class="star empty"></i>
                                        <i class="star empty"></i>
                                        <i class="star empty"></i>

                                    </span>
                                        </div>
                                        <button>Отправить</button>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <div><a href="/register">Зарегистрируйтесь</a> или <a href="/login">войдите</a> чтобы
                                оставить комментарий
                            </div>
                        {% endif %}
                    </div>

                </div>
                <div class="product_middle_right">
                    <div class="product_buy">
                        <div class="price">{{ product.price }} Т</div>
                        {% if product.count %}
                            <div class="controls">
                        <span class="input">
                            <span class="control minus"></span>
                            <input type="number" value="1" min="1" step="1" max="{{ product.count }}"
                                   name="product[count]">
                            <span class="control plus"></span>
                        </span>
                                <span class="buy_button">Купить</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="product_params">
                        <div class="title">Характеристики</div>
                        <div class="content">
                            {% for value in product.paramValues %}
                                <div class="param"><span class="name">  {{ value.productParam.name }}</span><span
                                            class="value"> {{ value.value }}</span></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="product_description">
                        <div class="title">Описание</div>
                        <div class="text">
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <div class="wrapper">
            Товар не найден =(
        </div>
    {% endif %}



{% endblock %}