{% extends "admin/base.html.twig" %}
{% block title %}Товар{% endblock %}
{% block title_small %}{% if product.id %}Изменение{% else %}Добавление{% endif %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">

                    <div class="box-tools">

                    </div>
                </div>
                <div class="box-body">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error|nl2br }}
                        </div>
                    {% endif %}
                    <form method="post" class="form">
                        <div class="form-group">
                            <label for="product[name]">Название Товара</label>
                            <input type="text" class="form-control" name="product[name]" value="{{ product.name }}"
                                   required id="product[name]">
                        </div>
                        <div class="form-group">
                            <label for="product[article]">Артикул</label>
                            <input type="text" class="form-control" name="product[article]"
                                   value="{{ product.article }}"
                                   required id="product[article]">
                        </div>
                        <div class="form-group">
                            <label for="product[description]">Описание</label>
                            <textarea class="form-control" name="product[description]"
                                      required id="product[description]">{{ product.description }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="product[price]">Цена</label>
                            <input type="number" step="0.1" min="0.1" class="form-control" name="product[price]"
                                   value="{{ product.price }}"
                                   required id="product[price]">
                        </div>
                        <div class="form-group">
                            <label for="product[count]">Количество</label>
                            <input type="number" class="form-control" name="product[count]"
                                   value="{{ product.count|default(0) }}"
                                   required id="product[count]">
                        </div>
                        <div class="form-group">
                            <label for="product[image_id]">Изображение</label>
                            <input type="hidden" name="product[image_id]" value="{{ product.image.id }}">
                            <div id="chooseImage" data-toggle="modal" data-target="#modal" class="btn btn-light ">Выбрать</div>
                            <div class="image-name">{{ product.image.alias }}</div>
                            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="alert alert-danger" style="display: none"></div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="lds-roller preloader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="product[vendor_id]">Производитель</label>
                            <select name="product[vendor_id]" class="form-control" id="product[vendor_id]">
                                {% for vendor in vendors %}
                                    <option
                                            {% if vendor.id == product.vendor.id or vendor.id == product.vendor_id %}
                                                selected
                                            {% endif %}
                                            value="{{ vendor.id }}">{{ vendor.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="product[folder_id]">Категория</label>
                            <select name="product[folder_id][]" multiple class="form-control" id="product[folder_id]">
                                {% for folder in folders %}
                                    <option {% if folder.id in product.folder_id %}selected {% endif %}
                                            {% for product_folder in product.folders %}
                                                {% if product_folder.id == folder.id %}selected{% endif %}
                                            {% endfor %}
                                            value="{{ folder.id }}">{{ folder.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if product.paramValues %}
                            {% for value in product.paramValues %}
                                <div class="form-group row param" data-id="{{ loop.index }}">
                                    <div class="col">
                                        <label for="product[param_value]">Параметр</label>
                                    </div>
                                    <div class="col">
                                        <select name="product[param][{{ loop.index }}][id]" class="form-control" id="product[param]">
                                            {% for param in params %}
                                                <option {% if param.id == value.productParam.id %}selected {% endif %}
                                                        value="{{ param.id }}">{{ param.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="product[param][{{ loop.index }}][value]" placeholder="Значение" value="{{ value.value }}">
                                    </div>
                                    <div class="col btn-group-sm d-flex align-items-center">
                                        <span class="btn btn-sm btn-success add"><i class="fa fa-plus"></i></span>
                                        <span class="btn btn-sm btn-danger remove"><i class="fa fa-minus"></i></span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="form-group row param" data-id="0">
                                <div class="col">
                                    <label for="product[param_value]">Параметр</label>
                                </div>
                                <div class="col">
                                    <select name="product[param][0][id]" class="form-control" id="product[param]">
                                        {% for param in params %}
                                            <option {% if param.id in product.param %}selected {% endif %}
                                                    {% for param_value in product.paramValues %}
                                                        {% if param_value.productParam.id == param.id %}selected{% endif %}
                                                    {% endfor %}
                                                    value="{{ param.id }}">{{ param.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="product[param][0][value]"
                                           placeholder="Значение" value="">
                                </div>
                                <div class="col btn-group-sm d-flex align-items-center">
                                    <span class="btn btn-sm btn-success add"><i class="fa fa-plus"></i></span>
                                    <span class="btn btn-sm btn-danger remove"><i class="fa fa-minus"></i></span>
                                </div>
                            </div>
                        {% endif %}

                        <button class="btn btn-danger"> {% if product.id %}Изменить{% else %}Добавить{% endif %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/assets/design/js/admin/addImage.js"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/assets/design/css/preloader.min.css">
    <style>
        .modal-body .images{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
        }
        .modal-body .images .image{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .image-name{
            margin-left: 5px;
            font-weight: bold;
            font-size: 16px;
        }
    </style>
{% endblock %}