{% if folders %}
    <style>
        .folders{
            padding: 0;
            margin: 0;
        }
        .folders ul{
            padding: 0;
            padding-left: 5px;
        }
        .folders .folder{
            list-style: none;

        }
        .folders .folder div{
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
        }
        .folders .folder div >span{
            font-size: 16px;
        }
        .folders .folder-controls{
            /*margin-left: 20px;*/
            display: none;
        }
        .folder >div:hover > .folder-controls{
            display: flex;
        }
        .folder >div:hover{
            background: rgba(236,236,236,0.3);
        }
    </style>
    <ul class="folders">
    {% for k,e in folders %}
    {% if k > 0 %}
        {% if e.lvl > prev_level %}
            <ul>
        {% else %}
            </li>
            {% if e.lvl < prev_level %}
                {% for key in e.lvl+1..prev_level %}
                    </ul></li>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
    <li class="folder" data-id="{{ e.id }}" data-lvl="{{ e.lvl }}" data-left="{{ e.left }}" data-right ="{{ e.right }}"><div><span>{{ e.name }}</span>
        {% if controls %}
            <span class="folder-controls btn-group">
                <a href="/admin/folder/{{ e.id }}/edit" class="btn btn-xs btn-success">
                    <i class="fa fa-edit"></i>
                </a>
                {% if e.right-e.left <=1%}
                <form action="/admin/folder/delete" method="post" class="btn btn-xs btn-danger" style="order:1"
                          style="display: inline">
                    <input type="hidden" value="{{ e.id }}" name="folder_id">
                    <button style="padding: 0;margin: 0;background: none; border: none"><i class="fa fa-remove"></i></button>
                </form>
                {% endif %}
            </span>
        {% endif %}
    </div>
        {% set prev_level=e.lvl %}
        {% endfor %}
        {% for key in 1..prev_level %}
    </li>
</ul>
{% endfor %}
</li>
</ul>
{% endif %}
