{% if folders %}
    <ul class="folders nested">
    {% for k,e in folders %}
    {% if k > 0 %}
        {% if e.lvl > prev_level %}
            <ul>
        {% else %}
            </li>
            {% if e.lvl < prev_level %}
                {% for key in e.lvl+1..prev_level %}
                    </ul></li>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
    <li class="folder" data-id="{{ e.id }}" data-lvl="{{ e.lvl }}" data-left="{{ e.left }}" data-right ="{{ e.right }}">
        <div>
            {% if folder_links %}
                <span class="title"><a href="/folder/{{ e.id }}">{{ e.name }}</a></span>
            {% else %}
                <span class="title">{{ e.name }}</span>
            {% endif %}
        {% if controls %}
            <span class="folder-controls btn-group">
                <a href="/admin/folder/{{ e.id }}/edit" class="btn btn-sm btn-success">
                    <i class="fa fa-edit"></i>
                </a>
                {% if e.right-e.left <=1%}
                <form action="/admin/folder/delete" method="post" class="btn btn-sm btn-danger delete-folder" style="order:1"
                          style="display: inline">
                    <input type="hidden" value="{{ e.id }}" name="folder_id">
                    <button style="padding: 0;margin: 0;background: none; border: none"><i class="fa fa-remove"></i></button>
                </form>
                {% endif %}
            </span>
        {% endif %}
    </div>
        {% set prev_level=e.lvl %}
        {% endfor %}
        {% for key in 1..prev_level %}
    </li>
</ul>
{% endfor %}
</li>
</ul>
{% endif %}
